*.pyc
*.log
*.json
*.csv
*.png
doc/build/
!src/eclipse_jdt/scrap_eclipse_jdt/brs.json
!src/eclipse_jdt/scrap_eclipse_jdt/sorted_brs.json
!src/eclipse_jdt/pre_processing_experiments/output_without_cleaning_without_stemming_without_lemmatizing_without_stop_words_removal_without_punctuation_removal_without_numbers_removal.json
!src/mozilla_firefox/scrap_mozilla_firefox/brs.json
!src/mozilla_firefox/scrap_mozilla_firefox/sorted_brs.json
!src/mozilla_firefox/pre_processing_experiments/output_without_cleaning_without_stemming_without_lemmatizing_without_stop_words_removal_without_punctuation_removal_without_numbers_removal.json
!src/final_results/*/*/*
