*.pyc
*.log
*.json
*.csv
!eclipse_jdt/scrap_eclipse_jdt/brs.json
!eclipse_jdt/scrap_eclipse_jdt/sorted_brs.json
!eclipse_jdt/pre_processing_experiments/output_without_cleaning_without_stemming_without_lemmatizing_without_stop_words_removal_without_punctuation_removal_without_numbers_removal.json
!mozilla_firefox/scrap_mozilla_firefox/brs.json
!mozilla_firefox/scrap_mozilla_firefox/sorted_brs.json
!mozilla_firefox/pre_processing_experiments/output_without_cleaning_without_stemming_without_lemmatizing_without_stop_words_removal_without_punctuation_removal_without_numbers_removal.json
